[submodule "CryptoPkg/Library/OpensslLib/openssl"]
	path = CryptoPkg/Library/OpensslLib/openssl
	url = https://github.com/openssl/openssl
[submodule "CdePkg"]
	path = CdePkg
	url = https://github.com/MinnowWare/CdePkg.git
[submodule "CdeSrcPkg"]
	path = CdeSrcPkg
	url = https://github.com/MinnowWare/CdeSrcPkg.git
[submodule "CdeValidationPkg"]
	path = CdeValidationPkg
	url = https://github.com/MinnowWare/CdeValidationPkg.git
